.menu-hamburguer-button svg {
  width: 24px;
  height: 24px;
  fill: var(--color-primary);
}

.menu-hamburguer-button {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.navbar {
  background-color: var(--background-color-primary);
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
}

.mobile-menu {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-l);
  display: none;
  list-style: none;
  flex-direction: column;
  position: fixed;
  z-index: 1000;
  top: 3.5rem; 
  left: 0;
  width: 100vw;
  height: calc(100vh - 3.5rem);
  background-color: var(--background-color-secondary);
  padding: 40px 0 0 60px;
}

.mobile-menu.show {
  display: flex;
}

.mobile-menu a {
  display: inline-block;
  padding: 15px 0;
  border-bottom: 3px solid transparent;
  transition: border-color 0.2s ease;
}

.mobile-menu a:hover {
  border-bottom: 3px solid var(--background-color-tertiary);
}



