/* Reset default browser styles: */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%; /* Base for rem scaling: */
  scroll-padding-top: var(--navbar-height); /* Ensures in-page anchor links scroll to the correct position without being hidden behind the fixed navbar */
}

/* Base typography for entire component: */
body {
  padding-top: var(--navbar-height); /* Prevents content from being hidden behind the fixed navbar */
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-m);
  color: var(--color-primary);
  background-color: var(--background-color-primary);
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

/* keeps visited links visually consistent with design system: */
a:visited {
  color: var(--color-primary);
}

ul {
  list-style: none;
}